<!-- HTML that modal runs on click -->
    <div class="modal-header">
        <h3 class="modal-title">About</h3>
    </div>
    <div class="modal-body">
		<p class="lead">A web app for Northwestern's <a href="https://www.facebook.com/groups/357858834261047/">Free &amp For Sale Facebook group</a> so you can find fridges, futons, textbooks, and tons of other stuff easier than ever before.</p>
        <p class="text-muted">Brought to you by <a href="mailto:al.johri@gmail.com">Al Johri</a> and <a href="mailto:andrewbayer2016@u.northwestern.edu">Andy Bayer</a></p>
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Close</button>
    </div>