<div class="page-container">
    <div class="listing-container">

        <div class="btn-group">
            <label class="btn btn-default" ng-model="bs" btn-radio="'buy'">Buy</label>
            <label class="btn btn-default" ng-model="bs" btn-radio="'sell'">Sell</label>
        </div>

        <span> Showing  {{ lastMeta.offset }} to {{ lastMeta.limit }} of {{ lastMeta.total_count }} </span>

       <ul>
        <li ng-repeat="listing in listings | filter: {buy_or_sell:bs}">
            <div class="well">
              <span>{{listing.message}}</span>
            </div>
        </li>
      </ul>

   </div>
</div>