<div class="nav" id="navbar">
	<div id="nav-inner">
		<div id="search-bar">
		  <form>
			  <div class="input-group input-group-lg">
			    <input type="text" class="form-control" ng-model="filters.message__icontains" placeholder="Search...">
			        <span class="input-group-btn">
			          <button class="btn btn-default" type="button">
			            <span class="glyphicon glyphicon-search"></span>
			          </button>
			        </span>
			  </div>
		  </form>
		</div>
	  <div class="btn-group" id="buy-sell-buttons">
			<a href="/{{filters.buy_or_sell}}/{{filters.category}}/{{$stateParams.page}}"><button class="buy-sell-button" ng-model="filters.buy_or_sell" btn-radio="'all'" id="buy-sell-button">All</button></a>
			<a href="/{{filters.buy_or_sell}}/{{filters.category}}/{{$stateParams.page}}"><button class="buy-sell-button" ng-model="filters.buy_or_sell" btn-radio="'buy'" id="buy-sell-button">Sell</button></a>
			<a href="/{{filters.buy_or_sell}}/{{filters.category}}/{{$stateParams.page}}"><button class="buy-sell-button" ng-model="filters.buy_or_sell" btn-radio="'sell'" id="buy-sell-button">Buy</button></a>
	  </div>

	</div>
</div>

<div id="content-container">
	 <div id="categories">
	  <div class="btn-group-vertical" id="cat-buttons-container">
	    <div ng-repeat="category in categories">
	      <a href="/{{filters.buy_or_sell}}/{{category}}/1"><button type="button" class="category-button" ng-model="filters.category" btn-radio="category" style="width: 100%;">{{category}}</button></a>
	    </div>
	  </div>
	</div>	
	<div id="listing-container">
		<ul class="list-unstyled"> <!-- style="height: 600px; overflow: scroll;" -->
		<a href="/#/listing/{{listing.id}}">

		  <li ng-repeat="listing in listings">
		      	<div class="listing-div">
		      	 <p class="lead" id="poster-text"><a href="https://www.facebook.com/{{listing.seller.id}}">{{listing.seller.name}}</a><span id="post-date-text">Posted on {{listing.created_time | date : 'MMM d, y h:mm'}}</span></p>
			     <p class="listing-text">{{listing.message}}</p></a>
		     	 <p><a href="https://www.facebook.com/357858834261047/posts/{{listing.id}}">View on Facebook</a></p>
		      </div>
		  </li>
		</a>
		</ul>
		<div id="pagination">
        <div class="visible-xs-block">
          <pagination total-items="listingsMeta.total_count" ng-model="$stateParams.page" max-size="'4'" class="pagination-sm" boundary-links="true" rotate="false" ng-change="updateURL()"></pagination>
        </div>
        <div class="hidden-xs">
          <pagination total-items="listingsMeta.total_count" ng-model="$stateParams.page" max-size="'4'" class="pagination-md" boundary-links="true" rotate="false" ng-change="updateURL()"></pagination>
        </div>
      </div>
      </div>
    </div>
	</div>
<!-- 	<div class="footer">
	  <div class="container">
	    <p class="text-muted">Brought to you by <a href="mailto:al.johri@gmail.com">Al Johri</a> and <a href="mailto:andrewbayer2016@u.northwestern.edu">Andy Bayer</a></p>
  </div> -->








