<div class="nav" id="navbar">
	<div id="nav-inner">
		<a href="/{{buy_or_sell}}/{{category}}/{{page}}">
			<button class="back-button">
				<div class="glyphicon glyphicon-chevron-left" id="back-glyph"></div>
			</button>
		</a>
	</div>
</div>

<div id="content-container">
	<div id="listing-container">
      	<div class="listing-div">
      		<div class="listing-content">
			     <div class="listing-text">
			      	 <p class="lead" id="poster-text"><a href="https://www.facebook.com/{{listing.seller.id}}">{{seller.name}}</a><span class="hidden-xs" id="post-date-text">Posted on {{listing.created_time | date : 'MMM d, y h:mm a'}}</span></p>
				     <p class="listing-message">{{listing.message}}</p></a>
				   	 <div class="listing-links">
				     	 <p>
				     	 	<a href="https://www.facebook.com/{{listing.group_id}}/posts/{{listing.id}}">View on {{listing.group.name}}</a> &middot <a href="https://www.facebook.com/{{listing.seller.id}}">Contact {{listing.seller.name}}</a>
						</p>
			      	</div>
			      </div>
	        </div>
 			<div id="comment-div" ng-repeat="comment in listing.comments">
 				<!-- <p>{{comment}}</p> -->
				<p>{{comment.user.name}}: {{comment.message}}</p>
			</div>
     	</div>
	</div>

<!-- 	<div class="footer">
	  <div class="container">
	    <p class="text-muted">Brought to you by <a href="mailto:al.johri@gmail.com">Al Johri</a> and <a href="mailto:andrewbayer2016@u.northwestern.edu">Andy Bayer</a></p>
  </div> -->

</div>






