Django==1.7.1
beautifulsoup4==4.3.2
blessings==1.6
cssselect==0.9.1
dj-database-url==0.3.0
dj-static==0.0.6
django-extensions==1.4.6
django-tastypie==0.12.1
django-toolbelt==0.0.1
enum34==0.9.23
facebook-sdk==0.4.0
gunicorn==19.1.1
lxml==3.3.4
mechanize==0.2.5
psycopg2==2.5.4
pymongo==2.7.2
python-dateutil==2.2
requests==2.2.1
six==1.6.1
static3==0.5.1
wsgiref==0.1.2
unicodecsv==0.9.4
nltk==3.0.0
celery==3.1.16
billiard==3.3.0.18
kombu==3.0.23
amqp==1.4.6
anyjson==0.3.3
django-celery==3.1.16