/* http://getbootstrap.com/examples/sticky-footer/sticky-footer.css */

@media(min-width: 380px) and (max-width: 1000px) {
	#listing-container {
		width: 80%;
	}
}

@media(min-width: 1000px) {
	#listing-container {
		width: 60%;
	}
}


html {
  position: relative;
  min-height: 100%;
  height: auto;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%;
}

button {
	float: left;
	height: 45px
}

a {
	text-decoration: none;
}

.active {
	background-color: #A1A1A1;
}

.container .text-muted {
  margin: 20px 0;
}

#index-container {
	height: 100%;
}

#view-container {
	height: 100%;
}

#page-container {
	width: 100%;
	height: 100%;
	padding: 0px;
	display: inline-block;
	background-color: #E0E0E0;
}

#navbar {
	background-color: #7C008C;
	height: 70px;
	float: left;
	display: inline-block;
	position: fixed;
	z-index: 10;
	width: 100%;
}

#nav-inner {
	width: 90%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

#dropdown-button button{
	height: 100%;
	background: transparent;
	border: none;
	color: #eee;
}

#dropdown-button button:focus{
	outline: none;
}

#dropdown-div{
	text-align: right;
	float: right;
}

#dropdown-nav{
	z-index: 10;
	margin-top: -20px;
	position: fixed;
	float: left;
	width: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.7);
}

#dropdown-nav a{
	text-decoration: none;
	font-size: 20pt;
	color: #cecece;
}

#dropdown-nav a:hover{
	color: #FFBD4A;
}

#dropdown-nav ul{
	padding-left: 0px;
}

.back-button {
	width: 30px;
	height: 100%;
	background-color: rgba(255,255,255,.5);
	border: none;
	color: black;
	text-align: center;
	padding-top: auto;
	padding-bottom: auto;
}

#buy-sell-buttons {
	width: 25%;
	margin-right: 50px;
	float: right;
	height: auto;
	height: 45px;
	background-color: none;
}

#back-glyph {
	margin-top: auto;
	margin-bottom: auto;
}

#sm-buy-sell-buttons {
	width: 100%;
	height: 100%;
	margin-right: 10px;
}

.buy-sell-button{
	width: 33%;
	height: 100%;
	background-color: rgba(255,255,255,.5);
	border: none;
	color: black;
	text-align: center;
}

.sm-buy-sell-button {
	width: 33.3%;
	height: auto;
	background-color: rgba(0,0,0,0);
	border: none;
	color: rgba(255, 255, 255, .7);
	text-align: center;
}

.buy-sell-button.active {
	background-color: rgba(255, 255, 255, .9);
}

.sm-buy-sell-button.active {
	color: black;
	background-color: rgba(255, 255, 255, .7);
}

#search-bar {
	width: 50%;
	float: left;
	height: 45px;
}

#categories {
	float: left;
	/*position: fixed;*/
	width: 10%;
	margin-bottom: 200px;
	margin-left: 10%;
}

#sm-vert-button-grp {
	height: 100%;
	display: table;
	table-layout: fixed;
}

#sm-categories {
    width: 100%;
    height: 100%;
}

#cat-buttons-container {
	width: 100%;
}

#content-container {
	height: auto;
	padding-top: 90px;
	width: 100%;
	margin: 0px auto;
}

#listing-container {
	/*width: 50%;*/
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}

#listing-container ul {
	list-style: none; 
	padding-left: 0px;
} 

.posting-list {
	height: auto;
}

.listing-div {
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-left: 0px;
	margin-right: 50px;
	margin-bottom: 10px;
	width: 90%;
	height: 100%;
	margin-left: auto;
}

.listing-content {
	width: 100%;
}

.listing-div p {
	color: #4A4A4A;
}

.listing-div h3 {
	margin-top: 0px;
}

.listing-text {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.listing-message { 
	padding-top: 5px;
	font-size: 1em;
	word-wrap: break-word;
	width: 100%;
}

.listing-links {

}

.img-div {
	width: 100%;
	text-align: center;
}

.image-thumbnail {
	margin-bottom: 0px;
	height: auto;
	display: inline-block;
}

.sm-category-div {
	display: table-row;
	width: 100%;
	line-height: normal;
}
.category-button {
	background-color: rgba(0,0,0,0);
	border: none;
	color: black;
	text-align: left;
	height: auto;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.category-button a{
	text-decoration: none;}

.category-button a:hover {
	text-decoration: none;	

}

.category-button:hover{
	background-color: rgba(132, 71, 179, .7);
}

.category-button.active {
	background-color: rgba(132, 71, 179, .7);
}

.sm-category-button {
	background-color: rgba(0,0,0,0);
	border: none;
	color: rgba(255, 255, 255, .7);
	text-align: left;
	height: auto;
	font-size: 1em;
	display: table-cell;
}

.sm-category-button a{
	text-decoration: none;
}


.sm-category-button.active {
	color: black;
	background-color: rgba(255, 255, 255, .7);
}

#pagination {
	text-align: center;
}

#post-date-text {
	float: right;
	padding-right: 5px;
	font-size: .75em;
}

#poster-text {
	margin-bottom: 0px;
	width: 100%;
}


#single-listing-container {	
	height: 100%;
	background-color: #7C008C;
	padding-top: 40px;
}

#single-listing {
	background-color: red;
	width: 90%;
	height: auto;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}

#comment-div {
	padding-top: 10px;
	border-top: 2px solid #E0E0E0;
}


.footer {
  position: absolute;
  /*bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
