/* http://getbootstrap.com/examples/sticky-footer/sticky-footer.css */

@media(min-width: 380px) and (max-width: 1000px) {
	#listing-container {
		width: 80%;
	}
}

@media(min-width: 1000px) {
	#listing-container {
		width: 60%;
	}
}

@font-face {
	font-family: 'Bebas';
	src: url('../fonts/BebasNeue-webfont.woff') format('woff');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Oswald-Light';
	src: url('../fonts/oswald-light-webfont.woff') format('woff');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Oswald';
	src: url('../fonts/oswald-regular-webfont.woff') format('woff');
	font-weight: normal;
    font-style: normal;
}


html {
  position: relative;
  min-height: 100%;
  height: auto;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  height: 100%;
}

button {
	float: left;
	height: 45px
}

button:focus {outline:0 !important;}

a {
	text-decoration: none;
}

.active {
	background-color: #A1A1A1;
}

.container .text-muted {
  margin: 20px 0;
}

#index-container {
	height: 100%;
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #8AD8FF 0%, #0078AB 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #8AD8FF 0%, #0078AB 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #8AD8FF 0%, #0078AB 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8AD8FF), color-stop(1, #0078AB));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #8AD8FF 0%, #0078AB 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #8AD8FF 0%, #0078AB 100%);
	background-attachment: fixed;
}

#view-container {
	height: 100%;
}

#page-container {
	width: 100%;
	height: 100%;
	padding: 0px;
	display: inline-block;
}

#navbar {
	background-color: white;
	height: 70px;
	float: left;
	display: inline-block;
	position: fixed;
	z-index: 10;
	width: 100%;
}

#nav-inner {
	width: 90%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;
}

#dropdown-button button{
	height: 100%;
	background: transparent;
	border: none;
	color: #eee;
}

#dropdown-button button:focus{
	outline: none;
}

#dropdown-div{
	text-align: right;
	float: right;
}

#dropdown-nav{
	z-index: 10;
	margin-top: -20px;
	position: fixed;
	float: left;
	width: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.7);
}

#dropdown-nav a{
	text-decoration: none;
	font-size: 20pt;
	color: #cecece;
}

#dropdown-nav a:hover{
	color: #FFBD4A;
}

#dropdown-nav ul{
	padding-left: 0px;
}

.back-button {
	width: 30px;
	height: 100%;
	background-color: rgba(255,255,255,.5);
	border: none;
	color: #f9704a;
	text-align: center;
	padding-top: auto;
	padding-bottom: auto;
}

.back-button:hover {
	border: 2px #0ACCCC solid;
	border-radius: 30px;
}

#buy-sell-buttons {
	width: 40%;
	margin-right: 50px;
	float: right;
	height: auto;
	height: 45px;
	font-family: 'Bebas';
}

#back-glyph {
	margin-top: auto;
	margin-bottom: auto;
}

#sm-buy-sell-buttons {
	width: 100%;
	height: 100%;
	margin-right: 10px;
}

.buy-sell-button{
	width: 33.3%;
	height: 100%;
	border: none;
	text-align: center;
	background-color: rgba(0,0,0,0);
	display: inline-block;
}

.buy-sell-button span {
	font-size: 2em;
	color: #C9C9C9;
}

.sm-buy-sell-button {
	width: 33.3%;
	height: auto;
	background-color: rgba(0,0,0,0);
	border: none;
	color: rgba(255, 255, 255, .7);
	text-align: center;

}

.buy-sell-button.active {
	background-color: rgb(255, 255, 255);
	border: 2px #0ACCCC solid;
	border-radius: 30px;
	text-decoration: none;
}

.buy-sell-button.active span {
	color: #f9704a;
}

.sm-buy-sell-button.active {
	color: black;
	background-color: rgba(255, 255, 255, .7);
}

#search-bar {
	width: 50%;
	float: left;
	height: 45px;
}

#categories {
	float: left;
	position: fixed;
	width: 10%;
	margin-bottom: 200px;
	margin-left: 10%;
	background-color: rgb(255,255,255,0.7);
}

#sm-vert-button-grp {
	height: 100%;
	display: table;
	table-layout: fixed;
}

#sm-categories {
    width: 100%;
    height: 100%;
}

#cat-buttons-container {
	width: 100%;
}

#content-container {
	min-height: calc(100vh - 60px);
	height: calc(auto - 60px);
	padding-top: 90px;
	width: 100%;
	margin: 0px auto;
}



#listing-container {
	/*width: 50%;*/
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	/*position: relative;*/
}

#listing-container ul {
	list-style: none; 
	padding-left: 0px;
} 

.posting-list {
	margin-left: 10px;
	/*margin-bottom: 20px;*/
	height: auto;
}

.listing-div {
	position: relative;
	background-color: #FFFFFF;
	width: 90%;
	height: 100%;
	min-height: 134px;
	margin-left: auto;
	margin-bottom: 20px;
}

.listing-content {
	width: 95%;
}

.listing-div p {
	color: #4A4A4A;
}

.listing-div h3 {
	margin-top: 0px;
}

.listing-text {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.listing-message { 
	padding-top: 5px;
	font-size: 1em;
	word-wrap: break-word;
	width: 100%;
}

.listing-button {
	position: absolute;
	right: 5px;
	top: 5%;
	width: 5%;
	height: 90%;
	/*background-color: #f9704a;*/
	text-align: center;

}

.listing-button span{
	min-height: 260px;
    width: 1em;
    display: block;
    top: 50%;
    margin: -0.5em auto 0px;
    color: #f9704a;

}

.listing-button:hover {
	border: 2px #0ACCCC solid;
	border-radius: 30px;
}
.listing-button:hover span{
}

.listing-links {
	margin-top: 5px;
}
.img-div {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.image-thumbnail {
	margin-bottom: 0px;
	height: auto;
	display: inline-block;
}

.sm-category-div {
	display: table-row;
	width: 100%;
	line-height: normal;
}
.category-button {
	background-color: rgba(0,0,0,0);
	border: none;
	color: black;
	text-align: left;
	height: auto;
}

.category-button a{
	text-decoration: none;}

.category-button a:hover {
	text-decoration: none;	

}

.category-button:hover{
	background-color: rgba(255,255,255,0.5);
	border-radius: 30px;
}

.category-button.active {
	background-color: rgba(255,255,255,0.5);
	border-radius: 30px;
}

.sm-category-button {
	background-color: rgba(0,0,0,0);
	border: none;
	color: rgba(255, 255, 255, .7);
	text-align: left;
	height: auto;
	font-size: 1em;
	display: table-cell;
}

.sm-category-button a{
	text-decoration: none;
}


.sm-category-button.active {
	color: black;
	background-color: rgba(255, 255, 255, .7);
}

#pagination {
	text-align: center;
}

#post-date-text {
	float: right;
	padding-right: 5px;
	font-size: .75em;
	font-family: 'Oswald-Light';
}

#poster-text {
	font-family: 'Oswald';
	margin-bottom: 0px;
	width: 100%;
}


#single-listing-container {	
	height: 100%;
	background-color: #7C008C;
	padding-top: 40px;
}

#single-listing {
	background-color: red;
	width: 90%;
	height: auto;
	background-color: white;
	margin-right: auto;
	margin-left: auto;
}

#comment-div {
	padding-top: 10px;
	padding-left: 5px;
	border-top: 2px solid #E0E0E0;
}


.footer {
  position: absolute;
  /*bottom: 0;*/
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
